*{
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face {
    font-family: "title";
    src: url(Fonts/Freshman.ttf);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(237, 255, 237);
}
#right-section{
    width: 25%;
    height: 100vh;
    position: fixed;
    right: 0;
}
#left-section{
    width: 25%;
    height: 100vh;
    position: fixed;
    left: 0;
}
#left-section img, #right-section img{
    width: 100%;
    height: 100%;
}
#center-section{
    width: 50%;
    height: 100vh;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
}
#center-section header{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 1.5em sans-serif;
}
#center-section header h1{
    font-family: "title", sans-serif;
    padding: 5px;
    color: rgb(1, 77, 1);
}
#todoForm{
    padding: 5px;
}
#todoForm input, button{
    padding: 10px;
    font: .7em sans-serif;
    border: 2px solid rgb(1, 77, 1);
    border-radius: 1%;

}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main section{
    width: 90%;
    height: 70vh;
}
main section #results .result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #008000;
    color: white;
    border-bottom:1px solid white ;
}
main section #results .result p{
    padding: 15px;
    font-size: 1em;
}
main section #results .result button{
    width: 35px;
    background-color: green;
    border: none;
    color: white;
    padding: 5px;
    font-size: .9em;
}
.full-text{
    text-decoration: line-through;
}